<!-- delete.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Course</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="confirmation">
        <h1>Are you sure you want to delete the following course?</h1>
        <p><strong>Name:</strong> {{ course.name }}</p>
        <p> <strong>Description</strong> {{ course.description }}</p>
        <a href="/"><button>No</button></a>
        <a href="{% url 'delete_course' course.id %}"><button id="delete">Yes! I want to delete this</button></a>
    </div>
</body>
</html>
